html {
    scroll-behavior: smooth;
}

/* Navbar Section*/
.navbar {  
    background: #2d3436;
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler-icon {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    transition: 0.2s;
    font-size: 20px;
}

.navbar-brand, .navbar-brand:hover {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
}

.nav-link:hover {
    color: #ffffff;
    opacity: 0.8;
    transition: 0.2s;
}

/* Footer Section */
.footer {
    background: #2d3436;
    color: #ffffff;
    font-family: 'Sacramento', cursive;
}

.social a {
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

.social a:hover {
    opacity: 0.8;
    transition: 0.2s;
}
